<div class="container">
  <h1 class="mt-3">Add Blogposts</h1>
  <form #form="ngForm" (ngSubmit)="onFormSubmit()">
    <div class="mt-2 mb-5">
      <div class="mt-3">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          id="title"
          name="title"
          class="form-control"
          autocomplete="off"
          [(ngModel)]="model.title"
        />
      </div>
      <div class="mt-3">
        <label for="urlHandle" class="form-lable">Url Handle</label>
        <input
          type="text"
          id="urlHandle"
          name="urlHandle"
          class="form-control"
          autocomplete="off"
          [(ngModel)]="model.urlHandle"
        />
      </div>
      <div class="mt-3">
        <label for="shortDescription" class="form-lable"
          >Short Description</label
        >
        <input
          type="text"
          id="shortDescription"
          name="shortDescription"
          class="form-control"
          autocomplete="off"
          [(ngModel)]="model.shortDescription"
        />
      </div>
      <div class="mt-3">
        <label for="content" class="form-lable">Content</label>
        <div class="d-flex flex-row">
          <div class="col-6 p-2">
            <textarea
              name="content"
              id="content"
              class="form-control"
              style="height: 350px; max-height: 350px"
              [(ngModel)]="model.content"
            ></textarea>
          </div>
          <div class="col-6 p-2" style="max-height: 350px; overflow-y: scroll">
            <markdown [data]="model.content"></markdown>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <label for="featuredImageUrl" class="form-lable"
          >Featured Image Url</label
        >
        <input
          type="text"
          id="featuredImageUrl"
          name="featuredImageUrl"
          class="form-control"
          autocomplete="off"
          [(ngModel)]="model.featuredImageUrl"
        />
      </div>
      <div class="mt-3">
        <label for="publishedDate" class="form-lable">Published Date</label>
        <input
          type="date"
          id="publishedDate"
          name="publishedDate"
          class="form-control"
          autocomplete="off"
          [ngModel]="model.publishedDate | date : 'yyyy-MM-dd'"
          (ngModelChange)="model.publishedDate = $event"
        />
        <div class="mt-3">
          <label for="author" class="form-lable">Author</label>
          <input
            type="text"
            id="author"
            name="author"
            class="form-control"
            autocomplete="off"
            [(ngModel)]="model.author"
          />
        </div>
        <div class="form-check mt-3">
          <input
            class="form-check-input"
            type="checkbox"
            id="isVisible"
            name="isVisible"
            [(ngModel)]="model.isVisible"
          />
          <label class="form-check-label" for="isVisible"> Is Visible? </label>
        </div>
        <div class="mt-3">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>
